.mcportfolio-banner {
  min-height: 800px;
  height: 100vh;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
.mcportfolio-banner-title {
  font-size: 378px;
  white-space: nowrap;
  font-family: "Prompt", serif;
  font-family: "Bebas Neue", serif;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 13px;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2), -1px -1px 15px rgba(0, 0, 0, 0.2);
  color: #000;
}
.mcportfolio-banner-title-tracker {
  display: flex;
  gap: 5rem; /* Espacio entre textos */
  width: -moz-max-content;
  width: max-content; /* Importante para evitar cortes */
  overflow: hidden;
  white-space: nowrap;
}
.mcportfolio-banner-title-container {
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}
.mcportfolio-banner-title-model {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow-x: hidden;
}

header {
  position: relative;
  overflow: hidden;
  z-index: 9;
  -webkit-clip-path: ellipse(100% 100px at 50% 100%);
          clip-path: ellipse(100% 100px at 50% 100%);
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #ff00ff, #00ffff, #ffff00);
  mix-blend-mode: overlay;
  opacity: 0.8;
  animation: tornasol 5s infinite alternate;
  z-index: 8;
}

@keyframes tornasol {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
#section1 {
  -webkit-clip-path: circle(0% 0%, 0% 100%, 100% 100%);
          clip-path: circle(0% 0%, 0% 100%, 100% 100%);
  opacity: 0;
}

.section1-model {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow-x: hidden;
  display: block;
  background-color: transparent;
  animation: tornasol 4s infinite alternate;
  filter: brightness(0);
  z-index: 8;
}
.section1-model-container {
  position: relative;
  overflow: hidden;
  z-index: 9;
  min-height: 580px;
}
.section1-title {
  font-size: 126px;
  font-family: "Bebas Neue", serif;
}
.section1-text {
  font-family: "Bebas Neue", serif;
}

@keyframes tornasol {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@media (max-width: 991.98px) {
  .section1-model {
    animation: none;
  }
}
.model-bg {
  width: 100vw;
  max-width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.model-bg-title {
  font-family: "Bebas Neue", serif;
  font-size: 100px;
  position: relative;
  z-index: 2;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}
.model-bg-title-container {
  padding: 1rem;
  min-height: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8549019608);
  width: 100%;
  margin-top: 10vh;
  position: relative;
  z-index: 1;
}
.model-bg-container {
  position: relative;
  min-height: 850px;
  z-index: 9;
  width: 100%;
  overflow: hidden;
}
.model-bg-links {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8549019608);
  padding: 0.6rem;
  z-index: 9;
}
.model-bg-links a {
  color: #fff;
  margin-right: 12px;
  text-decoration: none;
  font-size: 23px;
}
.model-bg-links a:hover {
  text-decoration: underline;
  color: #ffbb00;
}

@media (max-width: 575.98px) {
  .model-bg-title {
    font-size: 60px;
  }
  .model-bg-title-container {
    z-index: 2;
  }
}
#pageLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
}
#pageLoader p {
  font-size: 130px;
  font-family: "Bebas Neue", serif;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  #pageLoader p {
    font-size: 70px;
    font-family: "Bebas Neue", serif;
    text-transform: uppercase;
  }
}
.mcportfolio-proyects-model {
  position: sticky;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 750px !important;
  min-height: 600px;
  z-index: 8;
}
.mcportfolio-proyects-model-container {
  position: relative;
  z-index: 9;
}
.mcportfolio-proyects-card {
  min-height: 300px;
  width: 100%;
  border: 1px solid;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.8549019608);
  color: white;
  font-size: 26px;
  font-family: "Bebas Neue", serif;
  position: relative;
  padding: 1rem;
  overflow: hidden;
  margin-bottom: 30px;
  z-index: 10;
  opacity: 0;
}
.mcportfolio-proyects-card:hover {
  transform: rotate(360deg) !important;
  transition: 0.3s;
}
.mcportfolio-proyects-card-title {
  margin-bottom: 1rem;
  margin-right: 50px;
}
.mcportfolio-proyects-card-text {
  padding-right: 40px;
  font-size: 22px;
}
.mcportfolio-proyects-card-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -9;
  background-color: black;
  height: 65px !important;
  width: 65px !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 16px 0 16px;
  transition: 0.8s ease-out;
  filter: grayscale(1);
}
.mcportfolio-proyects-card-img:hover {
  width: 100% !important;
  height: 100% !important;
  z-index: 19;
  filter: grayscale(0);
}
.mcportfolio-proyects-card-link {
  animation: tornasol 4s infinite alternate;
}
.mcportfolio-proyects-card-link-container {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 575.98px) {
  .mcportfolio-proyects-card {
    transform: rotate(357deg) !important;
  }
}
.mcportfolio-tech {
  font-size: 140px;
  cursor: grab;
}
.mcportfolio-tech:nth-child(1):hover {
  color: #ff4500;
}
.mcportfolio-tech:nth-child(2):hover {
  color: #31a4d5;
}
.mcportfolio-tech:nth-child(3):hover {
  color: #ffc20a;
}
.mcportfolio-tech:nth-child(4):hover {
  color: pink;
}
.mcportfolio-tech:nth-child(5):hover {
  color: #533b78;
}
.mcportfolio-tech:nth-child(6):hover {
  color: #01d8ff;
}
.mcportfolio-tech:nth-child(7):hover {
  color: #fc354c;
}
.mcportfolio-tech:nth-child(8):hover {
  color: #4c9541;
}
.mcportfolio-tech-stack-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.mcportfolio-tech-stack-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  border: 2px solid #ccc;
  overflow: hidden;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.8549019608);
  color: white;
  white-space: nowrap;
}

@media (max-width: 991.98px) {
  .mcportfolio-tech {
    font-size: 40px;
  }
  .mcportfolio-tech-stack-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.mcportfolio-navbar-collapse {
  background-color: black;
}

html,
body {
  overflow-x: hidden;
}

.mcportfolio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  color: black;
  border: 1px solid black;
  border-radius: 16px;
  text-decoration: none;
  width: 250px !important;
  font-family: "Prompt", serif;
}
.mcportfolio-button:hover {
  background-color: #000;
  color: white;
}
.mcportfolio-title {
  font-size: 126px;
  font-family: "Bebas Neue", serif;
}

@media (max-width: 991.98px) {
  .mcportfolio-model-container::before {
    content: "";
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    z-index: 12;
  }
  .mcportfolio-title {
    font-size: 86px;
    font-family: "Bebas Neue", serif;
  }
}/*# sourceMappingURL=style.css.map */