@import "partials/mcportfolio-banner";
@import "partials/section1";
@import "partials/3Dbg";
@import "partials/loader";
@import "partials/mcportfolio-proyects";
@import "partials/mcportfolio-tech";

body {
    // background: #b39978;
    overflow-x: hidden;
}

.mcportfolio {
    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        color: black;
        border: 1px solid black;
        border-radius: 16px;
        text-decoration: none;
        width: 250px !important;
        font-family: "Prompt", serif;
        // transition: 0.5s ease-in;

        &:hover {
            background-color: #000;
            color: white;
        }
    }
    &-title {
        font-size: 126px;
        font-family: "Bebas Neue", serif;
    }
}

@media (max-width: 991.98px) {
    .mcportfolio-title {
        font-size: 86px;
        font-family: "Bebas Neue", serif;
    }
}
